@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Docker Demo</h1>
    <p>Building Web apps with ASP.NET Core & Run in docker container</a>.</p>
</div>
